.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.cart-item-list{
    width: 60vw;
    height: 75vh;
    border: 3px solid black;
    margin-right: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;

}

.cart-area{
    display: flex;
}

.cart-sidebar{
   border: 3px solid black;
    width: 20vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-info{
    height: 60vh;
}

.cart-item-list{
    display: flex;
    flex-direction: column;
}

.cart-sidebar > button{
    width: 15vw;
}

.tandCs{
    color:gray;
    margin: 1rem;
}

.payment-icon{
    margin-right: 0.5rem;
}

#submit-order-button{
    background-color: black;
    color: white;
    border: none;
    width: 200px;
    height: 75px;
    margin: 3rem;
}

.complete-display{
    display: flex;
    flex-direction: column;
    align-items: center;

}