.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.cart-item-list{
    width: 60vw;
    height: 75vh;
    border: 3px solid black;
    margin-right: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;

}

.cart-area{
    display: flex;
}

.cart-sidebar{
   border: 3px solid black;
    width: 20vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-info{
    height: 60vh;
}

.cart-item-list{
    display: flex;
    flex-direction: column;
}