nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.nav-buttons{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.nav-item{
    margin: 15px;
}

nav > h1 {
    font-size: 60px;
}
