nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}
.navbar{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
}

.nav-buttons{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.nav-item{
    margin: 10px;
    background-color: transparent;
    border: none;
}

.nav-item > h2{
    font-size: 30px;
}


.nav-item > h1 {
    font-size: 60px;
}

#nav-start-order{
    background-color:black;
    color: white;
    height: 10vh
}

.start-order{
    position: absolute;
    top: 65vh;
    left: 2vw;
}

.start-order > button{
    height: 180px;
    width: 400px;
    font-size: 40px;;
    border-radius: 10%;
    border: none;
    background-color: rgb(8, 8, 8);
    color: white;
    box-shadow: 1px 3px 5px rgb(73, 73, 73);
    display: flex;
    align-items: center;
}


#sandwiches{
    background-color: green;
}

#snacks{
    background-color: red;
}

#drinks{
    background-color: blue;
}

.areas{
    grid-area: content;
    height: 100vh;
    width: 100vw;
}

#footer{
    height: 40vh;
    grid-area: footer;
    background-color: orange;
}
