.product{
    width: 350px;
    height:300px;
    margin: 10px 30px 10px 30px;
    display: flex;
    flex-direction: column;
}

.product-inCart{
    width: 70vw;
    height:300px;
    margin: 10px 30px 10px 30px;
    display: flex;
    gap: 2rem;
}
.product-inCart > img{
    width: 110px;
    height: 80px;
}

.product > img{
    width: 250px;
    height: 175px;
}

.product > h3 {
    margin:1px;
}

.product-list{
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
}

button{
    background-color: black;
    border: none;
    color:white;
    width: 200px;;
}

.quantity-controller{
    display: flex;
    align-items: center;
    height: 50px;
}

.quantity-controller > button{
    background-color: rgba(179, 179, 179, 0.884);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
}

.quantity-controller > button:hover{
    background-color: rgb(90, 90, 90);
}