.modal {
    position: fixed;
    top: 30vh;
    left: 35vw;
    width: 30vw;
    height: 60vh; 
    background: rgba(238, 230, 230, 0.9);
    z-index: 2;
    border-radius: 10%;

  }

  .display-block {
    display: block;
    overflow: hidden;
  }
  
  .display-none {
    display: none;
  }

  .loginModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .loginForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .form-element {
    display: flex;
    flex-wrap: nowrap;
    padding: 0.5em;
}

.form-element > label{
    display: flex;
    width: 5em;
}

.form-element > input{
    display: flex;
    width: 10em;
}

.signUp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

#signUpButton {
  appearance: auto;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    color: -internal-light-dark(black, white);
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.logout-button {
  position: relative;
  top: 45%;
  left: 28%;
  width: 8em;
}


  