.app{
    height: 100vh;
}

.sections{
    /* width: 100%; */
    width:calc(100% - 100px);
    height: calc(100vh - 100px);
    /* height: 100vh; */
    left: 300px;
    background-color: rgb(255, 255, 255);
    position: absolute; 
    
} 