/* .container{
    z-index: 1;
    width:100%;
    height: 85px;
    padding: 0px 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    box-shadow: 0px 5px 5px -5px rgb(203, 203, 203);
}  */

/* .text{
    font-size: 7vh;
} */

.container {
    height: 100px;
    width: 100%;
    padding: 0px 50px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 2;
    box-shadow: 0px 5px 5px -5px rgb(203, 203, 203);

  }

  .navbuttons{
    display: flex;
    justify-content: flex-end;
    
  }
  
  .item {
    /* flex: 1; */
    display: flex;
    align-items: center;
    
  }
  
  .item:nth-child(2) {
    flex: 0.5;
    background-color: rgb(255, 255, 255);
  }
  
  .item:last-child {
    justify-content: flex-end;
  }
  
  .callButton {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
  }
  
  .texts {
    margin-left: 20px;
    color: rgb(0, 0, 0);
  }
  
  .text:first-child {
    font-size: 12px;
    font-weight: 500;
  }
  
  .text:last-child {
    font-size: 18px;
    font-weight: bold;
  }
  
  .list {
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
  }

  /* cart is parent div */
  .cart{
      position: relative;
  }
  
  /* counter is child div */
  .counter{
      position: absolute;
      top: -10px;
      right: -10px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: white;
      padding: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: #000000;
  }

  
  /* @media screen and (max-width:480px) {
    .item:nth-child(2) {
      display: none;
    }
  
    .item:nth-child(1) {
      flex: 3;
    }
  } */