.container{
    background-color: #ffffff;;
    width: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* position: fixed; */
    position: fixed;
    z-index: 0;
    box-shadow: 5px 0 5px -5px rgb(203, 203, 203);
    padding-top: 100px;
} 

.sidebarItems{
    height:auto;
    width: 100%;
    /* padding-left: 15%; */
    align-items: center;
}

.text{
    font-size: 4vh;
    font-weight: 300;
    margin-bottom: 100px;;
    /* padding-top: 100px; */
    /* padding-bottom: 80px; */
}

.texts :hover {
    font-weight: 500;
}
/* .text{
    padding: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px 8px 0px;
    list-style: center;
} */